@use 'styles/variables';
@use 'styles/mixins';

section.reviews {
    background-color: variables.$primary-color;
    border-bottom: 5px solid variables.$secondary-dark-color;

    div.content-wrapper {
        @include mixins.base-section;
        @include mixins.flexify(center, center, column);

        h2.review-title {
            color: #FFFFFF;
            font-size: 36px;
            font-weight: 700;
        }

        div.initial-stars-wrapper {
            .star {
                height: 50px;
                width: 50px;
                color: variables.$star-color;
            }
        }

        /*
        div.reviews-wrapper {
            div.review {
                div.review-header {
                    picture img.reviewer-image {

                    }

                    strong.reviewer-name {

                    }
                }

                div.review-stars {
                    .star {

                    }
                }

                div.review-content-wrapper {
                    p.review-content {

                    }
                }
            }
        }
        */
    }
}
