@use 'styles/variables';
@use 'styles/mixins';

section.what-we-do {
    @include mixins.base-section;
    @include mixins.flexify(center, center, column);
    text-align: center;

    @include mixins.mobile {
        padding: 10px;
    }

    h2.what-we-do-title {
        font-size: 36px;
        font-weight: 700;
        color: variables.$primary-color;

        @include mixins.mobile {
            font-size: 30px;
        }
    }

    p.what-we-do-content {
        @include mixins.general-content;
    }

    div.actions-wrapper {
        @include mixins.flexify(center, space-between, row);
        width: 100%;
        margin: 40px 0;

        @include mixins.mobile {
            flex-direction: column;
        }

        div.action {
            @include mixins.flexify(center, false, column);
            width: 380px;
            height: 250px;
            margin-bottom: auto;

            @include mixins.mobile {
                width: 100%;
                height: 100%;

                &:nth-child(2) {
                    margin: 20px 0;
                }
            }

            picture img.action-image {
                width: 110px;
                height: 110px;
            }

            strong.action-title {
                font-size: 24px;
                font-weight: 700;
                color: variables.$primary-color;
            }

            p.action-description {
                line-height: 24px;
            }
        }
    }

    a.free-debt-consultation {
        font-size: 18px;
        font-weight: 700;
        border: 0;
        border-radius: 20px;
        padding: 10px 40px;
        color: #FFFFFF;
        background-color: variables.$secondary-dark-color;
        transition: background-color 250ms;

        &:hover {
            background-color: variables.$primary-color;
        }
    }

    p.details {
        a.how-it-works {
            transition: color 250ms;

            &:hover {
                color: variables.$secondary-dark-color;
            }
        }
    }
}
