@use 'styles/variables';
@use 'styles/mixins';

section.debt-advisors-options-jumbotron {
    @include mixins.base-section;
    @include mixins.flexify(flex-start, space-between, row);

    @include mixins.mobile {
        @include mixins.flexify(center, center, column);
    }

    h1.options-title {
        @include mixins.main-heading;
        margin-top: 0;
    }

    picture img.options-jumbotron-image {
        width: 377px;
        height: 282px;

        @include mixins.custom(420px) {
            @include mixins.responsive-image;
        }
    }
}
