@use 'styles/mixins';

div.currency-field-wrapper {
    @include mixins.flexify(center, center, column);

    input.currency-field {
        @include mixins.base-field;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &[type=number] {
            -moz-appearance: textfield;
        }
    }

    small.error {
        @include mixins.error;
        margin-top: 20px;
    }
}
