@use 'styles/variables';
@use 'styles/mixins';

section.about-us {
    @include mixins.base-section;
    @include mixins.flexify(center, space-between, row);

    @include mixins.custom(1100px) {
        flex-direction: column-reverse;
    }

    div.about-us-content {
        @include mixins.mobile {
            text-align: center;
        }

        h1.title {
            @include mixins.main-heading;
        }

        p.content {
            @include mixins.general-content;
            font-size: 14px;

            @include mixins.mobile {
                font-size: 12px;
            }
        }
    }

    picture img.jumbotron-image {
        width: 738px;
        height: 379px;

        @include mixins.custom(758px) {
            @include mixins.responsive-image;
        }
    }
}
