@use 'styles/variables';
@use 'styles/mixins';

section.debt-advisors-call-us-now {
    background-color: variables.$primary-color;

    div.content-wrapper {
        @include mixins.base-section;
        @include mixins.flexify(center, center, column);
        padding: 150px 10px;
        text-align: center;

        @include mixins.mobile {
            padding: 150px 10px;
        }

        strong.content-text,
        a.phone-link {
            color: #FFFFFF;
            font-weight: 700;
        }

        strong.content-text {
            font-size: 30px;

            @include mixins.mobile {
                font-size: 24px;
            }
        }

        a.phone-link {
            border: 0;
            border-radius: 40px;
            background-color: variables.$secondary-dark-color;
            padding: 15px 60px;
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            transition: 250ms;

            &:hover {
                background-color: variables.$primary-color;
            }

            span.number {
                font-size: 24px;
            }

            span.text {
                font-size: 14px;
            }
        }
    }
}
