@use 'styles/variables';
@use 'styles/mixins';

div.name-fields-wrapper {
    @include mixins.flexify(center, false, column);

    div.name-field-wrapper {
        @include mixins.flexify(flex-start, false, column);
        margin: 20px 0;

        label.name-field-label {
            color: variables.$primary-color;
            font-size: 18px;
            font-weight: 700;
        }

        input.name-field {
            @include mixins.base-field;
            margin: 0;
        }
    }
}
