@use 'styles/variables';
@use 'styles/mixins';

section.terms-of-use {
    @include mixins.base-section;
    padding: 10px;

    h1,
    h2 {
        color: variables.$primary-color;
        margin: 40px 0;
    }

    h1 {
        font-size: 46px;
        text-align: center;

        @include mixins.mobile {
            font-size: 32px;
        }
    }

    h2 {
        font-size: 40px;
        
        @include mixins.mobile {
            font-size: 26px;
        }
    }

    p {
        font-size: 16px;
        line-height: 24px;

        @include mixins.mobile {
            font-size: 14px;
            line-height: 28px;
        }

        a {
            color: variables.$link-color;
        }
    }
}
