@use 'styles/variables';
@use 'styles/mixins';

section.debt-advisors-scenarios {
    @include mixins.base-section;
    @include mixins.flexify(flex-start, space-between, row);

    @include mixins.mobile {
        @include mixins.flexify(center, center, column);
        text-align: center;
    }

    details {
        width: 400px;

        @include mixins.custom(420px) {
            width: 100%;
        }

        &:nth-child(2) {
            margin: 0 20px;

            @include mixins.mobile {
                margin: 20px 0;
            }
        }

        &:nth-child(3) {
            div.pros-cons-wrapper div.pros-wrapper {
                margin-bottom: 24px;

                @include mixins.mobile {
                    margin-bottom: 0;
                }
            }
        }

        summary {
            cursor: pointer;
            list-style: none;
            padding: 40px 20px;
            transition: 250ms;

            &:hover {
                background-color: variables.$primary-color;

                strong.summary-title,
                p.summary-content {
                    color: #FFFFFF;
                }
            }

            &::marker {
                display: none;
            }

            @include mixins.mobile {
                padding: 20px 10px;
            }

            strong.summary-title {
                font-size: 30px;
                font-weight: 700;
                color: variables.$primary-color;

                @include mixins.mobile {
                    font-size: 24px;
                }
            }

            p.summary-content {
                font-size: 14px;
                @include mixins.general-content;

                @include mixins.mobile {
                    font-size: 12px;
                }
            }
        }

        div.pros-cons-wrapper {
            @include mixins.flexify(center, flex-start, column);
            height: 350px;

            div.pros-wrapper div.pros-header,
            div.cons-wrapper div.cons-header {
                padding: 15px 10px;

                @include mixins.mobile {
                    padding: 5px 0;
                }
            }

            div.pros-wrapper div.pros-header strong.header-title,
            div.cons-wrapper div.cons-header strong.header-title {
                font-size: 32px;
                font-weight: 700;
                color: #FFFFFF;

                @include mixins.mobile {
                    font-size: 28px;
                }
            }

            div.pros-wrapper p.pros-content,
            div.cons-wrapper p.cons-content {
                font-size: 12px;
                @include mixins.general-content;
            }

            div.pros-wrapper {
                div.pros-header {
                    background-color: variables.$primary-color;
                }
            }

            div.cons-wrapper {
                div.cons-header {
                    background-color: variables.$secondary-dark-color;
                }
            }
        }
    }
}
