@use 'styles/variables';
@use 'styles/mixins';

footer.debt-advisors-footer {
    background-color: variables.$primary-color;
    color: #FFFFFF;
    @include mixins.flexify(center, center, column);
    padding: 60px 10px;

    div.footer-content-wrapper {
        max-width: variables.$max-width;
        width: 100%;
        @include mixins.flexify(flex-start, space-between, row);

        @include mixins.custom(930px) {
            @include mixins.flexify(center, center, column);
            text-align: center;
        }

        div.logo-text {
            width: 390px;

            @include mixins.custom(420px) {
                width: 100%;
            }

            a picture img.white-logo {
                width: 240px;
                height: 80px;
                margin-bottom: 20px;

                @include mixins.custom(930px) {
                    margin: 0 auto 20px auto;
                }

                @include mixins.custom(260px) {
                    @include mixins.responsive-image;
                }
            }

            p.footer-text {
                font-size: 14px;
                @include mixins.general-content;
            }
        }

        div.contact-us,
        div.phone-email-submit {
            strong.title {
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        div.contact-us {
            @include mixins.custom(930px) {
                margin: 20px 0;
            }

            p.content {
                font-size: 14px;
                @include mixins.general-content;
            }
        }

        div.phone-email-submit {
            div.contact-info {
                margin: 20px 0;

                @include mixins.custom(930px) {
                    @include mixins.flexify(center, center, column);
                    text-align: center;
                    margin: 20px 0;
                }

                p.title,
                a.info {
                    font-size: 14px;
                    @include mixins.general-content;
                }

                p.title {
                    display: flex;
                    align-items: center;
                    margin: 0;

                    .icon {
                        height: 12px;
                        width: 12px;
                        margin-right: 5px;
                    }
                }

                a.info {
                    font-size: 14px;
                    font-weight: 700;
                    transition: color 250ms;

                    &:hover {
                        color: variables.$secondary-color;
                    }
                }
            }

            // div.email-submit {
            //     margin-top: auto;

            //     input.email-field,
            //     button.submit-button {
            //         padding: 10px;
            //         border-radius: 10px;
            //         border: 0;
            //     }

            //     input.email-field {
                    
            //     }

            //     button.submit-button {
            //         background-color: $primary-color;
            //         color: #FFFFFF;
            //     }
            // }
        }
    }

    div.legal-wrapper {
        text-align: center;

        @include mixins.custom(930px) {
            margin-top: 20px;
        }

        a.legal-link {
            font-size: 16px;
            font-weight: 400;
            transition: color 250ms;

            &:hover {
                color: variables.$secondary-color;
            }
        }
    }
}
