$primary-color: #1C3599;
$secondary-color: #0F8B21;
$secondary-dark-color: #00500A;
$star-color: #DFD405;
$wrong-color: #EC2027;
$correct-color: rgb(0, 128, 0);
$text-color: #585858;
$link-color: #3366FF;
$max-width: 1200px;
$mobile-cut-off: 1000px;
$transition-timing: 250ms;
