$primary-color: #2B2F73;
$secondary-color: #EC2027;
$secondary-dark-color: #C00A0F;
$star-color: #DFD405;
$wrong-color: #EC2027;
$correct-color: rgb(0, 128, 0);
$text-color: #585858;
$link-color: #3366FF;
$max-width: 1200px;
$mobile-cut-off: 1000px;
$transition-timing: 250ms;
