@use 'styles/variables';
@use 'styles/mixins';

section.learn-about-us {
    max-width: variables.$max-width;
    width: 100%;
    margin: 0 auto;
    padding: 50px 10px;
    @include mixins.flexify(false, center, column);

    h2.section-title,
    p.section-content {
        text-align: center;
    }

    h2.section-title {
        @include mixins.sub-heading;

        @include mixins.mobile {
            font-size: 28px;
        }
    }

    details p.content,
    p.section-content {
        @include mixins.general-content;
        font-size: 18px;
        
        @include mixins.mobile {
            font-size: 14px;
        }
    }

    details {
        width: 100%;
        margin: 20px 0;

        &[open] {
            summary.title {
                box-shadow: 0 25px 25px 10px #e8e8e8;
            }
        }

        @include mixins.mobile {
            margin: 10px 0;
        }

        summary.title {
            color: variables.$primary-color;
            font-size: 32px;
            font-weight: 700;
            border: 0;
            padding: 50px 20px;
            cursor: pointer;
            transition: box-shadow variables.$transition-timing;

            &:hover {
                box-shadow: 0 25px 25px 10px #e8e8e8;
            }

            @include mixins.mobile {
                font-size: 20px;
                padding: 20px;
            }
        }

        p.content {
            margin-top: 40px;

            @include mixins.mobile {
                text-align: center;
            }
        }
    }
}
